*
!.gitignore
!DEMO-double-null
!ITER-valid
!JET-ant
!JET-radn
!README
!Data
!doc
!tests.bash
!tests_clean.bash
!tests_allclean.bash
!test_mpi_ITER-valid.bash
!test_mpi_ITER-valid.slurm
!test_mpi_JET-radn.bash
!test_mpi_JET-radn.slurm
!testQ.bash
!lgpl-3.0.txt
!LICENCE.txt
