*
!.gitignore
!ar_lz_tau.dat
!be_lz_tau.dat
!c_lz_tau.dat
!fe_lz_tau.dat
!he_lz_tau.dat
!h_lz_tau.dat
!jone_physicsar.ctl
!jone_physicsbe.ctl
!jone_physicsc.ctl
!jone_physics.ctl
!jone_physicsfe.ctl
!jone_physicsh.ctl
!jone_physicshe.ctl
!jone_physicskr.ctl
!jone_physicsn.ctl
!jone_physicsne.ctl
!jone_physicsni.ctl
!jone_physicso.ctl
!jone_physicssi.ctl
!jone_physicsw.ctl
!jone_physicsxe.ctl
!kr_lz_tau.dat
!ne_lz_tau.dat
!ni_lz_tau.dat
!n_lz_tau.dat
!o_lz_tau.dat
!si_lz_tau.dat
!tableradn.dat
!w_lz_tau.dat
!xe_lz_tau.dat
