*
!.gitignore
!ant10.ctl
!daxigeo.bash
!demowall_RZ.dat
!dwal1.ctl
!dwall1.ctl
!dwall360.ctl
!dwallr360.ctl
!dwall.txt
!jaxigeo.bash
!jdiv00.ctl
!jdiv01.ctl
!jdiv11.ctl
!jdiv41.ctl
!jdivgeo.bash
!jetdiv_RZ.dat
!jetwall_RZ.dat
!jwal1.ctl
!jwall1.ctl
!jwall360.ctl
!jwallr360.ctl
!jwall.txt
!spheregen.bash
!spheregen.py
